.root{
     -fx-background-image: url("../images/background_ver2.jpg");
     -fx-background-size: cover;
 }

.cardsView{
    -fx-background-color : black;
}

.playerCard{
    -fx-border-color: rgb(193,28,3);
    -fx-border-width: 5px;
    -fx-border-radius: 6px;
    -fx-background-color: gray;
    -fx-background-radius: 7px;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}

